@import "../../styles/mixins";

.main {
  //background: linear-gradient(90deg, rgba(224,198,225,1) 0%, rgba(198,172,178,1) 50%, rgba(149,152,201,1) 100%);
  //background-image: url("/public/images/bg.JPG");
  background-image: url("/public/images/bg.JPG");
  padding: 0 3rem 3rem 3rem;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .tittle {
    font-weight: 400;
    font-size: 2.625em;
    line-height: 1.143;
    position: relative;
    text-align: center;
    color: black;
    margin-top: 11%;
    text-transform: uppercase;
    @include _480 {
      font-size: 29px;
    }
  }
  .desc {
    font-size: 27px;
    line-height: 1.5;
    color: #2c2c2c;
    text-transform: capitalize;
    position: relative;
    text-align: center;
    width: 60%;
    @include _480 {
      font-size: 17px;
      width: 100%;
    }
  }

}

.text {
  position: relative;
  text-align: center;
  font-weight: 500;
}

.vag {
  width: 100%;
  position: relative;
  z-index: 10;
}

.wrapper__text {
  display:  flex;
  flex-direction: column;
  align-items: center;
}


.styleSvgLeft {
  fill: rgba(255, 255, 255, 0.4509803922);
  width: 38%;
  height: 59vh;
  position: absolute;
  top: 1154px;
  left: -34px;
  opacity: 0.6;
  filter: drop-shadow(2px 2px 31px black);
  @include _1280 {
    top: 1106px;
    left: 2px;
  }
  @include _1170 {
    display: none;
  }
}



.styleSvgRight {
  fill: #00000082;
  width: 38%;
  height: 59vh;
  position: absolute;
  top: 1154px;
  right: -34px;
  opacity: 0.6;
  filter: drop-shadow(2px 2px 31px black);
  @include _1280 {
    top: 1106px;
    right: 2px;
  }
  @include _1170 {
    display: none;
  }
}

.bg {
  position: absolute;
  z-index: 0;
  filter: blur(4px);
  width: 101%;
  height: 100%;
  background-position: center center;
}

.bullet__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 2% 5% 2% 5%;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  @include _1170 {
    flex-direction: column;
  }
}

.carusel {
  width: 100vw;
  margin-top: 38px;
  .container__img {
    display: flex;
    justify-content: center;
    .present__item {
      position: relative;
      margin: 0px 10px;
      .item__img {
        border-radius: 10px;
      }
      .item__img__main {
        position: absolute;
        border-radius: 10px;
        z-index: 1;
        top: -27px;
        right: -175px;
      }
    }
  }
  .container__btn{

  }
}

//.preview__screenshots {
//  position: relative;
//  width: 100%;
//  //height: 30vh;
//  margin: 0 auto;
//  display: flex;
//  justify-content: center;
//  flex-wrap: wrap;
//  .item__block {
//    margin: 20px 20px;
//    min-width: 250px;
//    height: 235px;
//    .block__overly {
//      cursor: pointer;
//      font-size: 5em;
//      display: block;
//      width: 100%;
//      height: 100%;
//      position: relative;
//      background-color: #ffffff00;
//      transition: 0.5s linear;
//      &::before {
//        content: '\002B';
//        position: absolute;
//        top: 32%;
//        left: 44%;
//        color: #000000;
//        opacity: 0;
//        cursor: pointer;
//        transition: 0.5s linear;
//      }
//      &:hover {
//        background-color: #ffffff78;
//        &::before {
//          opacity: 1;
//        }
//      }
//    }
//    .block__btn {
//      background-color: #f1f1f100;
//      width: 100%;
//      height: 100%;
//      &:hover {
//        background-color: #f1f1f175;
//      }
//    }
//  }
//  .item {
//    margin: 10px 10px;
//    min-width: 20%;
//    height: 100%;
//  }
//}