@import "../../../styles/mixins";
@import "../../../styles/variables";


.up {
  position: absolute;
  top: 38%;
  left: 18%;
  color: $color_arrow;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s linear;
  &:hover {
    color: $color_arrow_hover;
  }
  &:active{
    color: $color_arrow_active;
  }
  @include _1170 {
    top: 37%;
    left: 9%;
  }
  @include _768 {
    top: 34%;
    left: 3%;
  }
  @include _516 {
    top: 30%;
    left: 1%;
  }
  @include _350 {
    left: -2%;
  }
  &:before {
    content: '\00AB';
    position: absolute;
    font-size: 11em;
    display: block;
    top: -1vw;
  }
}

.down {
  position: absolute;
  top: 38%;
  right: 20%;
  color: $color_arrow;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s linear;
  @include _1170 {
    top: 37%;
    right: 15%;
  }
  @include _768 {
    top: 34%;
    right: 9%;
  }
  @include _516 {
    top: 30%;
    right: 8%;
  }
  @include _350 {
    right: 11%;
  }
  &:hover {
    color: $color_arrow_hover;
  }
  &:active{
    color: $color_arrow_active;
  }
  &:before {
    content: '\00BB';
    position: absolute;
    font-size: 11em;
    display: block;
    top: -1vw;
  }
}

.block {
  color: crimson;
}

