@import "../../../styles/mixins";
@import "../../../styles/variables";

.main {
  @include _768 {
    display: none;
  }
}

.up {
  position: absolute;
  top: 38%;
  left: 1vw;
  color: $color_gold;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s linear;
  &:hover {
    color: $color_gold_active;
    opacity: 0.7;
  }
  &:active{
    color: $color_gold_active;
    opacity: 0.7;
  }
  @include _1170 {
    top: 37%;
    //left: 9%;
  }
  @include _768 {
    top: 34%;
    //left: 3%;
  }
  @include _516 {
    top: 30%;
    //left: 1%;
  }
  @include _350 {
    left: -2%;
  }
  &:before {
    content: '\00AB';
    position: absolute;
    font-size: 11em;
    display: block;
    top: -1vw;
  }
}

.down {
  position: absolute;
  top: 38%;
  right: 4vw;
  color: $color_gold;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s linear;
  @include _1170 {
    top: 37%;
    //right: 15%;
  }
  @include _768 {
    top: 34%;
    //right: 9%;
  }
  @include _516 {
    top: 30%;
    //right: 8%;
  }
  @include _350 {
    //right: 11%;
  }
  &:hover {
    color: $color_gold_active
  }
  &:active{
    color: $color_gold_active;
  }
  &:before {
    content: '\00BB';
    position: absolute;
    font-size: 11em;
    display: block;
    top: -1vw;
  }
}

.block {
  color: crimson;
}

