.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #8B2062;
  padding: 0 0 2% 0;
  .copyright {
    display: flex;
    flex: 1;
    padding: 1% 0;
    justify-content: center;
    align-items: center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }
    .copyright__icon {
      font-size: 70px;
      display: inline-block;
      height: 31px;
      margin: 0 5px 0 0;
    }
    .copyright__text {
      font-size: 20px;
      font-family: 'Znak Mono';
    }
  }
  .btn__contact {
    display: block;
    border: 2px solid #ffffff;
    border-radius: 3px;
    font-size: 1.3em;
    padding: 9px;
    color: #ffffff;
    transition: 0.5s linear;
    font-family: 'Znak Mono';
    &:hover {
      border: 2px solid #f1a738;
      color: #f1a738;
    }
  }
  .docs {
    display: flex;
    margin: 2% 0 0 0;
    .docs__link {
      margin: 0 0% 0 0%;
      display: block;
      width: 131px;
      text-align: center;
      transition: 1s linear;
      font-family: 'Znak Mono';
      &:hover {
        color: #f1a738;
      }
    }
  }
}

