@import "../../../styles/mixins";

.main {
  display: flex;
  width: 22vw;
  align-items: center;
  margin: 6% 0 15px 0;
  flex-direction: column;
  @include _1170 {
    width: 60vw;
  }
  @include _768 {
    width: 88vw;
    height: fit-content;
  }
  @include _480 {
    flex-direction: column;
    margin: 36px 0;
  }
  .main__img {
    width: 29vw;
    height: 57vh;
    @include _1170 {
      width: 100%;
      height: auto;
    }
    @include _768 {

    }
    @include _480 {

    }
    @include _416 {

    }
  }
  .main__name{
    font-family: 'Znak Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    text-transform: capitalize;
  }
  .main__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    @include _1170 {
      font-size: 17px;
    }
    @include _979 {
      font-size: 22px;
    }
    @include _600 {
      font-size: 13px;
    }
    @include _480 {
      font-size: 24px;
      text-align: center;
      margin-left: 0px;
    }
  }
}