@mixin _1280 {
  @media (max-width: 1280px){
    @content;
  }
}

@mixin _1170 {
  @media (max-width: 1170px){
    @content;
  }
}

@mixin _979 {
  @media (max-width: 979px){
    @content;
  }
}

@mixin _768 {
  @media (max-width: 768px){
    @content;
  }
}

@mixin _600 {
  @media (max-width: 600px){
    @content;
  }
}

@mixin _516 {
  @media (max-width: 515px) {
    @content;
  }
}

@mixin _480 {
  @media (max-width: 480px){
    @content;
  }
}

@mixin _416 {
  @media (max-width: 416px) {
    @content;
  }
}

@mixin _375 {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin _350{
  @media (max-width: 350px){
    @content;
  }
}