.main {
  max-width: 90vw;
  margin: 7% auto 0 auto;
  color: #424242;
  .title {
    font-size: 4em;
  }
  .block {
    .block__h3 {
      font-size: 2em;
    }
    .block__p {
      font-size: 1em;
    }
    .block__list {
      .list__item {
        font-size: 1em;
      }
    }
  }
}